<div class="card w-full md:w-2/3 flex flex-col justify-center items-center mx-auto p-4">
  <h1 class="mt-4 text-4xl text-center"><%=t'updatep'%></h1>
  <%= render "form", project_update: @project_update %>
  <%= link_to t('btnbackppro'), project_path(params[:project_id]), class: "link" %>
</div>
