<section class="card flex-col p-8">
  <h1 class="text-3xl capitalize lg:text-4xl mb-8">
    <%= t 'contacttitle1' %>
    <br>
    <%= t 'contacttitle2' %>
  </h1>
    <p class="flex items-center mb-4">
      <i class="fa-solid fa-location-dot mr-2"></i>
        7 rue du Général Pershing<br>
        60600 Clermont
    </p>

    <p class="flex items-center mb-4">
      <i class="fa-solid fa-mobile-screen-button mr-2"></i>
      +33 1 02 03 04 05
    </p>

    <p class="flex items-center mb-8">
      <i class="fa-solid fa-at mr-2"></i>
      prairify.me at gmail.com
    </p>
    <h3 class="text-neutral-light mb-4 text-center"><%= t 'followcontact' %></h3>
    <%= link_to 'https://github.com/Pefington/prairify.me.git', target: :_blank, class: "text-neutral-light drop-shadow-md hover:text-purple-600 mx-auto" do %>
      <i class="fa-brands fa-github fa-2x"></i>
    <% end %>
</section>
