<section class="bg-white">
  <div class="container">
    <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">Contact Us</h1>
    <p class="text-3xl my-8">prairify@yopmail.com</p>
  </div>
</section>
