<% if current_user %>
  <p>Home</p>
<% else %>
  <section class="w-full bg-center bg-cover sm:h-48 md:h-80" style="background-image: url(https://images.unsplash.com/photo-1605802447037-d660fc4b2fd2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
      <div class="container flex flex-col place-items-center p-6 text-center">
        <div class="bg-white bg-opacity-50 sm:w-9/12 xl:w-6/12 p-4 rounded-lg h-5/6">
          <p class="sm:text-xl md:text-2xl font-semibold tracking-tight text-skin-base italic">
              <p class="font-bold text-skin-title mb-2">You want to make your first step to a better world?</p> We can help you change your purely decorative piece of grass into a very useful meadow welcoming a diversified fauna and flora !
          </p>

          <div class="m-8 text-center">
              <div class="w-full">
              <%= link_to "Join us", new_user_registration_path, class: "btn-muted" %>
              </div>
          </div>
            <h1>Look what species you could grow where you live!</h1>
            <%= render 'layouts/search_bar' %>
        </div>
      </div>
  </section>
<% end %>
