<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>bienvenue chez nous !</h1>
    <p>
        Hello <%= @user.email %>.
        Quelle bonne nouvelle ! Merci de nous faire confiance et de nous rejoindre pour ton projet Prairify ! Ton initiative n'est pas anodine et s'inscrira dans une démarche majeure des années à venir ! Tu en seras l'un des protagonistes.
        Ensemble construisons l'avenir !
        Ici tu trouveras des projets Prairify déjà bien avancés <%= @urlx %>.
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>
