<section class="flex flex-1 justify-center text-white">
  <div id="<%= dom_id comment %>" class="p-6 rounded-lg shadow-lg w-[500px] bg-white/50">
    <p class="my-5">
      <strong class="text-black">User </strong>
      <% if comment.user.username? %>
        <%= comment.user.username %>
      <% else%>
        Annonymous
      <% end %>
      <strong class="text-black">posted on: </strong>
      <%= comment.created_at %>
    </p>
    
    <p class="my-5">
      <strong class="text-black">Content:</strong>
      <%= comment.content %>
    </p>
    
  </div>
  </section>
