<div class="mx-auto md:w-2/3 w-full">
  <h1 class="mt-4 font-bold text-4xl text-center">New comment</h1>

  <%= render "form", comment: @comment %>

  <div class="w-full flex justify-center">
    <%= link_to "Back to project", project_path(params[:project_id]), class: "btn" %>
  </div>
</div>
