<%if @plants == nil%>
  <p>Sorry, couldn't find any plant, please try again.</p>
<%else%>

  <h1>Results for: <%= @place %></h1>
  <h2>Not where you live? Please try again</h2>
  <%= render 'layouts/search_bar'%>
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <% 10.times do%>
      <%= render 'layouts/plant'%>

    <%end%>
  </div>
<%end%>
Do you want to create a project with such plants?
<div class="flex justify-between items-center">
  <%= link_to 'New project', new_project_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium", params:[@plants] %>
</div>


