<% if @local_plants == nil %>

  <p>Sorry, couldn't find any plant for "<strong><%=params[:search]%></strong>" please try again.</p>

<% else %>

  <% if current_user %>
    <section class="flex flex-col items-center justify-evenly space-y-8">
      <h3 class="text-xl">Happy with the selected plants?</h3>
      <%= link_to 'New project', new_project_path, class: "btn-muted",
  params:[@plants] %>
    </section>

  <% end %>

  <div class="flex flex-col items-center space-y-4 text-center">
    <h2 class="text-xl cursor-pointer">Results for:</h2>
    <p><%= @place %></p>
    <p>-</p>
  </div>

  <div class="w-full p-5 sm:p-10 flex flex-wrap justify-evenly h-min">
    <% @local_plants.each do | plant | %>
      <article
        x-data="{ shown : true }"
        x-transition.duration.500ms
        x-cloak
        x-show="shown"
        x-transition
        class="
          mb-12
          mx-4
          flex
          w-full
          max-w-sm
          flex-col
          items-center
          rounded-lg
          bg-white
          shadow-lg
        "
      >
        <% @plant = plant %>
        <%= render 'layouts/plant' %>
      </article>
    <% end %>
  </div>

<% end %>
