<% if @local_plants == nil %>

  <p>No result. You could try a wider area (county, département...)</p>

<% else %>

  <div x-data="{ plants : <%= @local_plants.to_json %> }" class="flex flex-col items-center space-y-4 text-center">
    <h2 x-on:click="console.log(plants)" class="text-xl">Results for:</h2>
    <pclass><%= @place %></p>
    <p>-</p>
  </div>

  <template x-for="item in items" :key="item.id">

  </template>

  <div class="p-5 sm:p-10 grid grid-cols-1 md:grid-cols-2 gap-10 lg:grid-cols-3 h-min">
    <%# @local_plants.each_with_index do | plant, index | %>
      <%# @plant = plant %>
      <%# @index = index %>
      <%#= render 'layouts/plant' %>
    <%# end %>
  </div>

<% end %>

<section class="flex flex-col items-center justify-evenly space-y-8">
  <h3 class="text-xl">Happy with the selected plants?</h3>
  <%= link_to 'New project', new_project_path, class: "btn-muted",
  params:[@plants] %>
  <p>or</p>
  <h3 class="text-xl">Search another location</h3>
  <%= render 'layouts/search_bar' %>
</section>
