<% if @projects.empty?%>
  <h1>You currently don't have any favourites</h1><br>
  <h2>Get some inspiration by browsing our different projects!</h2><br>
  <%= button_to 'Browse projects', projects_path, method: :get, class:'bg-blue-500 text-white active:bg-cyan-600 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'%>
<%else%>
  <%= render @projects%>
<%end%>


