<div
  class="
    flex
    w-full
    flex-1
    flex-col
    items-center
    justify-center
    space-y-8
    rounded-2xl
    bg-lime-100
    text-lg
  "
>
  <h1 class="text-3xl text-green-600 underline drop-shadow-md">Fjalla One</h1>
  <p class="text-2xl">Cantarell.</p>
  <%# flash[:success] = "Flash success test." %>
  <%# flash[:notice] = "Flash notice test." %>
  <%# flash[:alert] = "Flash alert test test." %>
  <%# flash[:error] = "Flash error test." %>
  <code class="rounded-md bg-fuchsia-600 px-2 py-1 text-lime-50 shadow-md">
    $ rails d controller home
  </code>
  <p>then cleanup
    <code>routes.rb</code></p>
</div>
