<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Salut Grand Maitre Prarify !</h1>
    <p>
      L'utilisateur
      <%= @user.email %>
      vient tout juste de demarrer son project Prairify ! N'hésite pas à aller
      y jeter un coup d'oeil !
      <%= @url %>
    </p>
  </body>
</html>
