<section class="mx-auto md:w-2/3 w-full space-y-4">
  <h1 class="mt-4 text-4xl text-center"><%= t('editp')%></h1>

  <%= render "form", project: @project %>

  <%= link_to t('showbtn'), @project, class: "link flex justify-center" %>
</section>
