<section class="mx-auto md:w-2/3 w-full">
  <h1 class="mt-4 font-bold text-4xl text-center">Editing project</h1>

  <%= render "form", project: @project %>
  
  <div class="w-full flex justify-center">
    <%= link_to "Back to projects", projects_path, class: "btn-muted" %>
    <%= link_to "Show this project", @project, class: "btn-muted" %>
  </div>
</section>
