<section class=" mx-auto md:w-2/3 w-full">
  <h1 class=" mt-4 font-bold text-4xl text-center">New project</h1>

  <%= render "form", project: @project %>

  <div class="w-full flex justify-center">
    <%= link_to "Back", root_path, class: "ml-4 rounded-lg py-3 px-5 btn inline-block " %>
  </div>
</section>
