<span
  class="
    px-4
    py-2
    mx-1
    text-neutral-light
    border
    border-gray-300
    bg-inverse
    rounded-md
    sm:inline

     ' current' if page.current? %>
  "
>
  <%= link_to_unless page.current?, page, url, {remote: remote, rel: page.rel} %>
</span>
