<span
  class="
    px-4
    py-2
    mx-1
    text-gray-700
    border
    border-gray-300
    bg-white
    rounded-md
    hover:bg-blue-400
    hover:text-white
  "
>
  <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote %>
</span>
