<span
  class="
    px-4
    py-2
    mx-1
    text-neutral-light
    border
    border-gray-300
    bg-inverse
    rounded-md

    "
>
  <%= link_to_unless current_page.first?, t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote %>
</span>
