@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Fjalla+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #12433C;
    --color-text-muted: #2EA57A;
    --color-text-inverted: #ffffff;
    --color-button-accent:#12433C;
    --color-button-accent-hover:#1F5B49;
    --color-button-muted:#2EA57A;
    --color-button-muted-hover:#3db388;
    --color-button-warning:#f25834;
    --color-button-warning-hover:#f67c12
  }

  body {
    @apply font-Cantarell;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-FjallaOne;
  }
}



@layer components {
  .btn {
    @apply px-6 py-2 font-medium tracking-wide text-skin-inverted capitalize transition-colors duration-300 transform bg-skin-button-accent rounded-md 
  },
  .btn:hover {
    @apply bg-skin-button-accent-hover
  },
  .btn-muted {
    @apply px-6 py-2 font-medium tracking-wide text-skin-inverted capitalize transition-colors duration-300 transform bg-skin-button-muted rounded-md
  },
  .btn-muted:hover {
    @apply bg-skin-button-muted-hover
  },
  .btn-warning {
    @apply px-6 py-2 font-medium tracking-wide text-skin-inverted capitalize transition-colors duration-300 transform bg-skin-button-warning rounded-md
  },
  .btn-warning:hover{
    @apply bg-skin-button-warning-hover
  },
  .link {
    @apply 
  }
}


