<%= link_to "Prairify", root_path, class: "text-xl font-FjallaOne font-bold hover:text-gray-700 drop-shadow-md px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700" %>
<p class="text-sm my-3">© Copyright 2022. All Rights Reserved.</p>
<div class="flex">
  <%= link_to 'https://www.facebook.com', target: :_blank, class: "hover:text-gray-700 px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" do %>
    <i class="w-5 h-5 fill-current fa-brands fa-reddit fa-lg drop-shadow-md"></i>
  <% end %>
  <%= link_to 'https://www.facebook.com', target: :_blank, class: "hover:text-gray-700 px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" do %>
    <i class="w-5 h-5 fill-current fa-brands fa-facebook fa-lg drop-shadow-md"></i>
  <% end %>
  <%= link_to 'https://www.github.com', target: :_blank, class: "hover:text-gray-700 px-3 py-2 mx-3 mt-2 transition-colors duration-300 transform rounded-md lg:mt-0 focus:bg-skin-button-accent-hover lg:hover:text-gray-700 drop-shadow-md" do %>
    <i class="w-5 h-5 fill-current fa-brands fa-github fa-lg drop-shadow-md"></i>
  <% end %>
</div>
